#survey-index
    .container
        %h1 What are you giving up?
        %p
            In order to help you prevent it, can you tell us more about the
            problem?
        %form
            .row.survey-options
                .col-sm-offset-3.col-sm-3
                    %ul
                        %li
                            .radio
                                %label
                                    %input{:type => "radio",
                                           :name => "what",
                                           :value => "career"}
                                    On pursuing my dream career
                        %li
                            .radio
                                %label
                                    %input{:type => "radio",
                                           :name => "what",
                                           :value => "skill"}
                                    On learning a new skill
                        %li
                            .radio
                                %label
                                    %input{:type => "radio",
                                           :name => "what",
                                           :value => "project"}
                                    On moving on with my project
                .col-sm-3
                    %ul
                        %li
                            .radio
                                %label
                                    %input{:type => "radio",
                                           :name => "what",
                                           :value => "degree"}
                                    On completing my degree
                        %li
                            .radio
                                %label
                                    %input{:type => "radio",
                                           :name => "what",
                                           :value => "prize"}
                                    On winning a specific prize
                        %li
                            .radio
                                %label
                                    %input{:type => "radio",
                                           :name => "what",
                                           :value => "other"}
                                    Other goal not listed here
            .row
                .col-sm-6.col-sm-offset-3
                    %input.form-control.input-lg{:type => "text",
                        :placeholder => "Why is it a problem for you? (optional)",
                        :name => "why"}
            .row
                .col-sm-4.col-sm-offset-4
                    %input.btn.form-control.btn-lg{:type => "submit",
                        :value => "I want to keep going instead!"}
