.container
    %h1 What are you giving up?
    %p In order to help you prevent it, can you tell us more about the problem?
    .row
        .col-sm-offset-3.col-sm-3
            %ul
                %li On pursuing my dream career
                %li On learning a new skill
                %li On moving on with my project
        .col-sm-3
            %ul
                %li On completing my degree
                %li On winning a specific prize
                %li Other goal not listed here
    .row
        .col-sm-4.col-sm-offset-4
            %input.form-control{:type => "text",
                :placeholder => "Why is it a problem for you? (optional)",
                :name => "why"}
            %input.btn.form-control{:type => "submit",
                                    :value => "I want to keep going instead!"}
